h1 {
    text-align: center;
    background-color: brown;
}

h2 {
    text-align: left;
    background-color: green;
}

h3 {
    text-align: left;
    background-color: purple;
}

p {
    color: blue;
    font-size: 10px;
}

ul {
    list-style-type: circle;
    margin-left: auto;
}